name: Refresh NGA Collection
on:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with: { python-version: '3.9' }
      - run: pip install pandas requests
      - run: python main.py
      - run: |
          git config --global user.name "GalleryBot"
          git config --global user.email "bot@github.com"
          git add nga_random_collection.json
          git commit -m "Weekly Refresh" || exit 0
          git push
